{% extends 'base.html' %}


{% load static %}

{% block content %}

<section class="section">
    <div class="container">
        <article class="media">
            <div class="media-left">
                <figure class="image is-256x256">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
            </div>

            <div class="media-content">
                <div class="content">
                    <h1 style="font-weight: bold;" class="title is-1">
                        {% if profile.first_name %}
                        {{ profile.first_name}}
                        {{ profile.last_name }}
                        {% endif %}</h1>
                    <h2 class="subtitle is-3">@{{ profile.user }}</h2>


                </div>
                {% if user.is_authenticated and user != profile.user %}
                <div class="level is-mobile">
                    {% if follow_status == True %}
                    <a href="{% url 'follow' profile.user 0 %}" class="button has-text-danger">Un Follow</a>
                    {% else %}
                    <a href="{% url 'follow' profile.user 1 %}" class="button is-success">Follow</a>
                    {% endif %}
                </div>
                {% endif %}
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">posts</p>
                        <p class="title">{{ posts_count }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Following</p>
                        <p class="title">{{ following_count }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Followers</p>
                        <p class="title">{{ followers_count }}</p>
                    </div>
                </div>
            </nav>

            <p class="subtitle is-5">{% if profile.profile_info %}{{ profile.profile_info }}{%endif%}</p>
            {% if user.is_authenticated and user == profile.user %}
            <button class="button">Edit Profile</button>
            {% endif %}
            </div>
    </article>
    </div>
</section>


<section class="section">
    <div class="container">

        <div class="tabs is-centered">
            <ul>
                <li class="{% if url_name == 'profile' %} is-active {% endif %}">
                    <a href="{% url 'profile' profile.user %}">
                        <span class="material-icons">dashboard</span>Posts</a>
                </li>
                <li class="{% if url_name == 'profilefavorites' %} is-active {% endif %}">
                    <a href="{% url 'profilefavorates' profile.user %}">
                        <span class="material-icons">save_alt</span>Saved</a>
                </li>
            </ul>
        </div>

        <div class="columns is-mobile is-multiline is-centered">
            {% for post in posts %}
            <div class="column is-one-quarter">
                <div class="box">
                    <figure class="image is-256x256">
                        <a href="{{post.get_absolute_url}}">
                            <img src="{{post.picture.url}}" alt="Image">
                        </a>
                    </figure>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}