<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>a<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="img/instagram_black.png" width="52" height="52">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                <span class="material-icons">home</span>
                Home
            </a>

            <a class="navbar-item">
                <span class="material-icons">explore</span>
                Explore
            </a>
            <a class="navbar-item">
                <span class="material-icons">notifications</span>
                Notifications
            </a>
            <a class="navbar-item">
                <span class="material-icons">inbox</span>
                Inbox
            </a>
            <a class="navbar-item">
                <span class="material-icons">face</span>
                Profile
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Settings
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Change Password
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <a class="navbar-item">
                        Report an issue
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Log out
                    </a>
                </div>
            </div>
        </div>


    </div>
</nav>
<section class="section">
    <div class="container">
        <article class="media">
            <div class="media-left">
                <figure class="image is-256x256">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
                </figure>
            </div>

            <div class="media-content">

                <div class="content">
                    <h1 class="title is-1">@Jyno</h1>
                    <h2 class="subtitle is-3">Jyno</h2>

                    <div class="media-right">
                        <button class="button is-success">Success</button>
                    </div>
                </div>

                <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Tweets</p>
                            <p class="title">3,456</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Following</p>
                            <p class="title">123</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Followers</p>
                            <p class="title">456K</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Likes</p>
                            <p class="title">789</p>
                        </div>
                    </div>
                </nav>

                <p class="subtitle is-5">test testestsetestes</p>

                <button class="button">Edit Profile</button>
            </div>
        </article>
    </div>
</section>


<section class="section">
    <div class="container">

        <div class="tabs is-centered">
            <ul>
                <li class="is-active">
                    <a><span class="material-icons">dashboard</span>Posts</a>
                </li>
                <li>
                    <a><span class="material-icons">save_alt</span>Saved</a>
                </li>
            </ul>
        </div>

        <div class="columns is-mobile is-multiline is-centered">
            <div class="column is-one-quarter">
                <div class="box">
                    <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image"
                    </figure>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">
                    <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image"
                    </figure>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">
                    <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image"
                    </figure>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="box">
                    <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image"
                    </figure>
                </div>
            </div>

        </div>

    </div>
</section>
</body>
</html>